[gcode_macro _PRIME_NOZZLE]
gcode:
    SAVE_GCODE_STATE NAME=PRIME_NOZZLE_STATE
    M117 Priming
    G90                 ; Absolute coordinates.
    M83                 ; Relative extruder mode.
    G92 E0
    ; Move to start of line.
    G1 Z10 F900
    G1 Y3 X3 F18000
    G1 Z0.2 F900
    ; Print the line.
    G91                ; Relative coordinates.
    G1 X100 E25 F1000  ; Extrude filament 25mm (how much it retracted in PRINT_END).
    G1 Y-2 F1000
    G1 X-60 E9 F1000    ; Print second part of the line.
    G1 E-0.5 F3000      ; Retract to avoid stringing.
    G1 X0.5 E0 F1000    ; Wipe back to break string.
    G1 X-5.5 E0 F1000   ; Wipe forward to break string.
    RESTORE_GCODE_STATE NAME=PRIME_NOZZLE_STATE

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    SET_DISPLAY_TEXT MSG="Heating Bed"
    M117 Heating bed
    SET_DISPLAY_TEXT MSG="Waiting Bed to reach {params.BED}"
    
    M190 S{ params.BED }       ; Wait for bed to get to target temperature.

    {% set target_chamber = params.CHAMBER|default("40")|int %}
    
    # Checks if the bed temp is higher than 90c - if so then trigger a heatsoak.
    {% if params.BED|int > 90 %}
        SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Displays info
        STATUS_HEATING                                      # Sets SB-leds to heating-mode
        M106 S255                 
        SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"  # Displays info                          # Turns on the PT-fan
        TEMPERATURE_WAIT SENSOR="temperature_sensor Chamber" MINIMUM={target_chamber}   # Waits for chamber to reach desired temp
    {% else %}
        SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Displays info
        STATUS_HEATING                                      
    {% endif %}

    M117 Preheating nozzle
    M109 S150                  ; Wait for nozzle to heat to 150C - soften filament, but no oozing.

    M107                       ; Print fan off
    G28                        ; Home - G28 or G32 depending on printer.
    QUAD_GANTRY_LEVEL
    G28 Z

    {% if 'bed_mesh' in printer.configfile.config %}
        BED_MESH_PROFILE LOAD=default    ; Added after reading the following notification: https://github.com/Klipper3d/klipper/issues/5983
           #BED_MESH_CALIBRATE 
    {% endif %}

    M117 Heating nozzle
    M109 S{ params.EXTRUDER }  ; Wait for nozzle to get to target temperature.

    
    #  _PRIME_NOZZLE

    G90                 ; Absolute coordinates.
    M83                 ; Relative extruder mode.
    G92 E0

    M117 Printing